# Travis configuration file using the build matrix feature
# Read more under http://docs.travis-ci.com/user/build-configuration/
# THIS SCRIPT IS SUPPOSED TO BE AN EXAMPLE. MODIFY IT ACCORDING TO YOUR NEEDS!

language: python
python:
    - "3.5"
before_install:
    - pip install pytest pytest-cov
    - pip install ply
    - pip install coveralls
    - pip install sphinx
    - python setup.py install
script:
    - python setup.py test
after_success:
    - coveralls
